{% extends "base.html" %}

{% block content %}
<h1>{{ PDF.doc_name }}</h1>

<ul>
	<li><p><font color="blue">PDF id:</font>                 <code>{{ PDF.pdf_id }}</code></p></li>
	<li><p><font color="blue">Order Tag:  </font>            {{ PDF.order_tag }}</p></li>
    <li><p><font color="blue">Printer Driver id: </font>     <code>{{ PDF.printer_id }}</code></p></li>
	<li><p><font color="blue">Machine id: </font>            <code>{{ PDF.machine_id }}</code></p></li>
    <li><p><font color="blue">Application Name:</font>       {{ PDF.application_name }}</p></li>
    <li><p><font color="blue">Local Path:  </font>           <code>{{ PDF.local_document }}</code></p></li>
    <li><p><font color="blue">QR Url:  </font>               <code>{{ PDF.qr_url }}</code></p></li>
</ul>

{% endblock %}