<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form>
{% block content %}

    {% if PDF.guid %}  <input type="text" name="guid" value="{{ PDF.guid }}"> {% endif %}
    {% if PDF.order_tag %}  <input type="text" name="order_tag" value="{{ PDF.order_tag }}"> {% endif %}
    {% if PDF.printer_id %}  <input type="text" name="printer_id" value="{{ PDF.printer_id }}"> {% endif %}
    {% if PDF.machine_id %}  <input type="text" name="machine_id" value="{{ PDF.machine_id }}"> {% endif %}
    {% if PDF.doc_name %}  <input type="text" name="doc_name" value="{{ PDF.doc_name }}"> {% endif %}
{#    {% if PDF.doc_path %}  <input type="text" name="doc_path" value="{{ PDF.doc_path }}"> {% endif %}#}
    {% if PDF.qr_url %}  <input type="text" name="QR_url" value="{{ PDF.qr_url }}"> {% endif %}
{#    {% if PDF.html %}  <input type="text" name="html" value="{{ PDF.html }}"> {% endif %}#}

{% endblock %}
</form>
</body>
</html>